@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

.side {
    display: inline-block;
    position: relative;
    width: 5%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    vertical-align: top;
    background-color: #474747;
    padding: 20px 8px;
    color: #cfcfcf;
    outline: 1px dashed #808080;
    outline-offset: -5px;
    text-align: center;
    font-size: 36px;
}

.content {
    font-family: 'Bitter', Tahoma;
    display: inline-block;
    position: relative;
    width: 94.4%;
    height: 100%;
    margin: 0;
    padding: 0.3%;
    text-align: center;
    outline: 1px dashed #c0c0c0;
    outline-offset: -5px;
}

.container {
    min-width: 200px;
    min-height: 150px;
    width: 19%;
    height: 18%;
    position: relative;
    perspective: 800px;
    display: inline-block;
    margin: 0.3%;
    padding: 0;
    cursor: pointer;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    text-align: center;
    vertical-align: middle;
    font-size: 36px;
    line-height: 150px;
}

.card figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card .front {
    background: #f4f4f4;
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    border-bottom: 2px solid #cdcdcd;
    color: #BDBDBD;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.8), -1px -1px 0px rgba(0,0,0,0.4);
    transition: all .1s
}

.card .front:hover {
    font-size: 42px;
    transition: all .2s;
    background-color: #ffffff;
}

.card .back {
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    transform: rotateY( 180deg );
    color: #474747;
    border-bottom: 2px solid #cdcdcd;
}

.color-0 {
    background-color: #ff9494;
    
}

.color-1 {
    background-color: #94c6ff;
}

.color-2 {
    background-color: #9fad88;
}

.color-3 {
    background-color: #626262;
    color: #cfcfcf;
}

.card.flipped {
    transform: rotateY( 180deg );
}

.card.flipped .front:before, .card.flipped .front:after {
    display: none;
}

.front:before, .front:after
{
    position: absolute;
    width: 40%;
    height: 10px;
    content: ' ';
    left: 12px;
    bottom: 5px;
    background: transparent;
    -webkit-transform: skew(-5deg) rotate(-5deg);
    -moz-transform: skew(-5deg) rotate(-5deg);
    -ms-transform: skew(-5deg) rotate(-5deg);
    -o-transform: skew(-5deg) rotate(-5deg);
    transform: skew(-5deg) rotate(-5deg);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    z-index: -1;
} 

.front:after
{
    left: auto;
    right: 12px;
    -webkit-transform: skew(5deg) rotate(5deg);
    -moz-transform: skew(5deg) rotate(5deg);
    -ms-transform: skew(5deg) rotate(5deg);
    -o-transform: skew(5deg) rotate(5deg);
    transform: skew(5deg) rotate(5deg);
}